/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import 'tailwindcss';

@theme {
  --font-mont: 'Open Sans', sans-serif;
}

@keyframes infinite-scroll-auth-page {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
.infinite-scroll-auth-page {
  will-change: transform;
  animation: infinite-scroll-auth-page 20s linear infinite;
}
/* .infinite-scroll-auth-page:hover {
  animation-play-state: paused;
} */
.bg-blur {
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(11.5px);
  -webkit-backdrop-filter: blur(11.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.hotel-landing-bg {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
  border-radius: 10px;
  /* border: 1px solid rgba(255, 255, 255, 0.18); */
}

@keyframes animate-message-box {
  0% {
    transform: translateX(500px) scaleX(0.1) scaleY(0.1);
    width: 10px;
    height: 10px;
  }
  25% {
    transform: scaleX(0.4) scaleY(1);
  }
  100% {
    transform: translateX(0) scaleX(1) scaleY(1);
  }
}

.animate-message-box {
  animation: animate-message-box 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-fill-mode: forwards;
  transform-origin: left;
}

@keyframes reel-animation {
  0% {
    transform: translateY(50px) scaleY(0);
  }
  10% {
    transform: translateY(0) scaleY(0.1);
  }
  100% {
    transform: translateY(0) scaleY(1);
  }
}

.reel-animation {
  animation: reel-animation 0.5s ease-out forwards;
  transform-origin: top;
}
